 @import url('https://fonts.googleapis.com/css2?family=Honk&family=Playfair+Display:ital,wght@0,400;1,500&family=Protest+Revolution&family=Protest+Riot&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
:root{
    ---primary-text-color:  #0f0f0f;
    ----secondary-text-color: #65403e;
    ---accent-color:#bd714bed;
    ---accent-color-dark: #d2511d;
    ---padding-inline-section: 20px;
}
/* html{
    border: solid rgb(0, 0, 0);
    border-width: thin; 
     overflow:hidden; 
    margin:10px 10px; 
    background-color: #FCEDDA;
} */
body{
    font-family: 'Poppins', sans-serif;
    color: var(---primary-text-color);
    background-color: #FCEDDA;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2rem;
}
h4{
    font-size: 1rem;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: var(----secondary-text-color);
    line-height: 1.4rem;
}
  a{
    text-decoration: none;
    display: inline-block;
  }
  ul,li{
    list-style: none;
  }
  /*utility class*/
  .small-bold-text{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-left: 60px;
  } 
  .container{
    overflow: hidden;
  }
  .flex{
    display: flex;
  }
  .hover{
    margin-top: 10px;
    color: var(---primary-text-color);
    transition: 0.2s ease-out ;
    text-align: center;
    font-size: 20px;
  }
  .hover:hover{
    color: var(---accent-color);
  }
  .hover-link:hover{
    color: var(---accent-color);
  }
  .primary-button{
    background-color: var(---accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(----secondary-text-color);
    transition: 0.2s ease-out;
  }
  .primary-button:hover{
    background-color: var(---accent-color-dark);
  }
  .secondary-button{
     border: 0.5px solid var(----secondary-text-color);
     border-radius: 6px;
     font-weight: 700;
     color: var(---primary-text-color) !important;
     padding: 12px 24px;
     transition: 0.2s ease-out;
    }
    .secondary-button:hover{
      border-color: var(--accent-color);
      color: var(---accent-color) !important;
    }
  /*Top banner*/
  .top-banner{
    background-color:  #EE4E34;
    background-size: 300px;
  }
  .banner-text{
    color: white;
    padding: 15px 30px;
  }
/*nav bar*/
.main-nav{
  margin-top: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.company-logo img{
  padding-left: 20px;
  width: 200px;
  mix-blend-mode: multiply;
}
.nav-links{
  flex-basis: 730px;
}
.nav-links ul {
    justify-content: end;
    gap: 40px;
}


.nav-toggle{
  color: #d2511d;
  font-size: 40px;
  display: none; 
}
 label{
    width: 100px;
    height: 40px;
    position: relative; 
    display: block;
    background: #FCEDDA;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4),inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}
label:after{
content: "";
width: 30px;
height: 30px;
position: absolute;
top: 6px;
left: 8px; 
background: linear-gradient(180deg, #ffcc89,#d8860b);
border-radius: 180px;
box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
input{
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label{
    background: #5c5555;
}
input:checked + label:after{
  left: 490px;
  transform: translate(-100%);
  background: linear-gradient(180deg, #EE4E34);
}
label:actve:after{
    width: 100px;
}
/* body{
    width: 100vw;
    height: 100vh; 
    background: #ffcc89;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}
input:checked + label + body{
    background: #d8860b;
}  */
.mid-container{
    width: 800px;
    height: 350px;
    margin: 100px 550px;
    display:flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 15px 3px #aa756d, -10px -10px 10px 2px #aa756d;
    background-color: #eccbc6;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: relative;
}
.task-type{
    margin: 150px 300px;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    align-items: center;
    justify-content: space-around;
}
#card1,#card2,#card3,#card4 {
    border: 1px solid rgb(133, 77, 77);
    margin: 15px 20px;
    padding: 20px 40px;
    width: 350px;
    height: 300px;
    flex-basis: 20%;
    background-color: #f2dad7;
    box-shadow: 10px 10px 15px 3px #c5a49d, -10px -10px 10px 2px #e8afa6;
}

.footer{
        background-color:  #f23e23;
        background-size: 400px;
}
#copyright{
    padding: 30px 10px;
}